---
title: Suisse Municipal 2019
description: >
  Suisse Municipal est une foire spécialisée dans le domaine communal, axée
  sur l’essai des véhicules. Tous les visiteurs ont la possibilité de
  conduire et manier les véhicules / machines sur un grand terrain d’essai.
image: /img/sommershow.jpg
slug: /fr/suisse-municipal-2019/
lang: fr
images:
  - name: Hänni Agrocentre Sàrl
    uri: /img/suisse-municipal-2019/logos/Agrocentre.png
    link: https://www.haenni-agrocentre.ch
  - name: Ambrogio
    uri: /img/suisse-municipal-2019/logos/ambrogio.png
  - name: Bio-Circle Surface Technology AG
    uri: /img/suisse-municipal-2019/logos/Bio-Circle.png
    link: http://www.bio-circle.ch
  - name: Chicklete
    uri: /img/suisse-municipal-2019/logos/Chicklete.png
    link: http://chicleteclean.ch/
  - name: Dalen
    uri: /img/suisse-municipal-2019/logos/Dalen.png
  - name: Gemac GmbH
    uri: /img/suisse-municipal-2019/logos/Gemac-GmbH.jpg
    link: https://www.gemac.ch
  - name: Geniomeccanica SA
    uri: /img/suisse-municipal-2019/logos/Geniomeccanica.jpg
    link: https://www.geniomeccanica.ch
  - name: Gumix
    uri: /img/suisse-municipal-2019/logos/Gumix.png
    link: http://www.gumix-elastor.hr
  - name: Hako Schweiz AG
    uri: /img/suisse-municipal-2019/logos/Hako.jpg
    link: https://www.hako.ch
  - name: Hardox
    uri: /img/suisse-municipal-2019/logos/Hardox.png
  - name: Landtechnik Heini AG
    uri: /img/suisse-municipal-2019/logos/HeiniAG.png
    link: https://www.heini-ag.ch
  - name: hostettler motoren ag
    uri: /img/suisse-municipal-2019/logos/hostettler-motoren.jpg
    link: https://shop.hma.ch
  - name: Kaaz
    uri: /img/suisse-municipal-2019/logos/Kaaz.jpg
  - name: Keckex
    uri: /img/suisse-municipal-2019/logos/Keckex.png
  - name: Maruyama
    uri: /img/suisse-municipal-2019/logos/Maruyama.jpg
  - name: Mettler Tools GmbH
    uri: /img/suisse-municipal-2019/logos/mettler-tools.png
    link: https://www.mettlertools.ch
  - name: Norskal
    uri: /img/suisse-municipal-2019/logos/Norskal.png
    link: https://www.mettlertools.ch
  - name: Ransomes Jacobsen
    uri: /img/suisse-municipal-2019/logos/Ransomes-Jacobsen.jpg
  - name: Rigi-Trac
    uri: /img/suisse-municipal-2019/logos/rigi-trac.jpg
  - name: Schiltrac Fahrzeugbau GmbH
    uri: /img/suisse-municipal-2019/logos/Schiltrac.jpg
    link: https://www.schiltrac.ch
  - name: snowstick gmbh/sarl
    uri: /img/suisse-municipal-2019/logos/Snowstick.jpg
    link: https://snowstick.info/de/
  - name: Stiga Garden
    uri: /img/suisse-municipal-2019/logos/Stiga.png
    link: https://www.stiga-garden.ch
  - name: Tenax
    uri: /img/suisse-municipal-2019/logos/Tenax.png
  - name: Toro
    uri: /img/suisse-municipal-2019/logos/TORO.jpg
    link: https://www.toro.com/de-de
  - name: Ventrac
    uri: /img/suisse-municipal-2019/logos/ventrac-onetractor.png
  - name: Wintec
    uri: /img/suisse-municipal-2019/logos/wintec.png
---

<section class="summer">
  <div class="container">
    <a class="back-link" href="/fr">&#8592; Retour</a>
    <h1>Suisse Municipal 2019</h1>
    <h3>
      25 - 26 septembre 2019 <br />
      Aérodrome St. Stephan
    </h3>
  </div>
</section>

<section>
  <div class="container">
    <h2>Exposants</h2>
    <ul class="no-bullets small-logos">
      <% page.images.forEach(function(image) { %>
      <li>
        <% if(image.link){ %>
        <a
          class="block"
          href="<%= image.link %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="<%= image.uri %>" alt="<%= image.name %>" />
        </a>
        <% } else{ %>
        <img src="<%= image.uri %>" alt="<%= image.name %>" />
        <% } %>
      </li>
      <% }) %>
    </ul>

    <h2>Contexte de la foire Suisse Municipal</h2>
    <p>
      Suisse Municipal est une foire spécialisée dans le domaine communal, axée
      sur l’essai des véhicules. Tous les visiteurs ont la possibilité de
      conduire et manier les véhicules / machines sur un grand terrain d’essai.
    </p>
    <h2>Comment ça marche?</h2>
    <p>
      Comme toujours, les exposants se voient remettre un stand dont ils peuvent
      choisir la surface: 50 m2, 150 m2 ou 300 m2. Les machines et accessoires
      sont présentés sur cette aire d’exposition. Les visiteurs peuvent alors
      aller tester une machine sur le terrain d’essai en compagnie d’un
      responsable du stand. Par ailleurs, tous les exposants disposent d’une
      grande tente où les visiteurs peuvent utiliser les chèques repas
      distribués par les exposants. Un espace suffisant est également prévu pour
      mener des entretiens professionnels ou de brèves conversations.
    </p>
    <p>Vos avantages</p>
    <ul>
      <li>Contact personnel avec des personnes intéressées</li>
      <li>Les avantages de votre machine peuvent être présentés en direct</li>
      <li>Buochs jouit d’une situation très centrale</li>
      <li>Pas de stress dû à la restauration des visiteurs sur le stand</li>
    </ul>

    <p>
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Ausstellerreglement_FR.pdf"
        >Règlement (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Anmeldung-mit-Packeten-2019_FR.pdf"
        >Formulaire d’inscription (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Flyer_Suisse_Municipal_2019_FR.pdf"
        >Flyer (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
