---
title: Suisse Municipal 2019
description: >
  Die Suisse Municipal ist eine rein Kommunale Messe. Dabei steht das Testen
  der Fahrzeuge im Mittelpunkt. Alle Besucher erhalten die Möglichkeit, die
  Fahrzeuge / Maschinen auf dem grosszügigen Testgelände zu fahren und zu
  bedienen.
image: /img/sommershow.jpg
slug: /de/suisse-municipal-2019/
lang: de
images:
  - name: Hänni Agrocentre Sàrl
    uri: /img/suisse-municipal-2019/logos/Agrocentre.png
    link: https://www.haenni-agrocentre.ch
  - name: Bio-Circle Surface Technology AG
    uri: /img/suisse-municipal-2019/logos/Bio-Circle.png
    link: http://www.bio-circle.ch
  - name: Dalen
    uri: /img/suisse-municipal-2019/logos/Dalen.png
  - name: Gemac GmbH
    uri: /img/suisse-municipal-2019/logos/Gemac-GmbH.jpg
    link: https://www.gemac.ch
  - name: Geniomeccanica SA 
    uri: /img/suisse-municipal-2019/logos/Geniomeccanica.jpg
    link: https://www.geniomeccanica.ch
  - name: Hako Schweiz AG 
    uri: /img/suisse-municipal-2019/logos/Hako.jpg
    link: https://www.hako.ch
  - name: Landtechnik Heini AG
    uri: /img/suisse-municipal-2019/logos/HeiniAG.png
    link: https://www.heini-ag.ch
  - name: img5
    uri: /img/suisse-municipal-2019/logos/Kaaz.jpg
  - name: img5
    uri: /img/suisse-municipal-2019/logos/Keckex.png
  - name: img5
    uri: /img/suisse-municipal-2019/logos/Maruyama.jpg
  - name: Schiltrac Fahrzeugbau GmbH
    uri: /img/suisse-municipal-2019/logos/Schiltrac.jpg
    link: https://www.schiltrac.ch
  - name: snowstick gmbh/sarl
    uri: /img/suisse-municipal-2019/logos/Snowstick.jpg
    link: https://snowstick.info/de/
  - name: Stiga Garden
    uri: /img/suisse-municipal-2019/logos/Stiga.png
    link: https://www.stiga-garden.ch
  - name: Toro
    uri: /img/suisse-municipal-2019/logos/TORO.jpg
    link: https://www.toro.com/de-de
  - name: img5
    uri: /img/suisse-municipal-2019/logos/Tenax.png
  - name: img5
    uri: /img/suisse-municipal-2019/logos/ambrogio.png
  - name: hostettler motoren ag
    uri: /img/suisse-municipal-2019/logos/hostettler-motoren.jpg
    link: https://shop.hma.ch
  - name: Mettler Tools GmbH
    uri: /img/suisse-municipal-2019/logos/mettler-tools.png
    link: https://www.mettlertools.ch
  - name: img5
    uri: /img/suisse-municipal-2019/logos/rigi-trac.jpg
  - name: img5
    uri: /img/suisse-municipal-2019/logos/wintec.png
---

<section class="summer">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Suisse Municipal 2019</h1>
    <h3>
      25. – 26. September 2019 <br />
      Flugplatz St. Stephan
    </h3>
  </div>
</section>

<section>
  <div class="container">
    <h2>Aussteller</h2>
    <ul class="no-bullets small-logos">
      <% page.images.forEach(function(image) { %>
        <li>
          <% if(image.link){ %>
            <a class="block" href="<%= image.link %>" target="_blank" rel="noopener noreferrer">
              <img
                src="<%= image.uri %>"
                alt="<%= image.name %>"
              />
            </a>
          <% } else{ %>  
            <img
              src="<%= image.uri %>"
              alt="<%= image.name %>"
            />
          <% } %>
        </li>
      <% }) %>
    </ul>
    <h2>Hintergrund der Suisse Municipal</h2>
    <p>
      Die Suisse Municipal ist eine rein Kommunale Messe. Dabei steht das Testen
      der Fahrzeuge im Mittelpunkt. Alle Besucher erhalten die Möglichkeit, die
      Fahrzeuge / Maschinen auf dem grosszügigen Testgelände zu fahren und zu
      bedienen.
    </p>
    <h2>Wie funktioniert das?</h2>
    <p>
      Die Aussteller haben wie gewohnt einen Messestand mit der gewünschten
      Fläche von 4m&sup2; bis ca. 350m&sup2;. Auf dieser Ausstellungsfläche
      werden die Maschinen und Anbauteile ausgestellt. Die Besucher erhalten
      dann die Möglichkeit, mit einem Verantwortlichen des Messestands, eine
      Maschine auf das Testgelände testen zu gehen. Im Weiteren steht für alle
      Aussteller ein grosses Festzelt zur Verfügung. Bei diesem können die
      Besucher die von den Ausstellern verteilten Essensgutscheine einlösen.
      Auch um Fachgespräche oder Smalltalk zu führen wird genügend Platz
      vorhanden sein.
    </p>
    <p>Ihre Vorteile</p>
    <ul>
      <li>Persönlicher Kontakt mit Interessenten</li>
      <li>Die Vorteile Ihrer Maschine können Live vorgeführt werden</li>
      <li>Kein Stress mit Verpflegung der Besucher auf dem Messestand</li>
    </ul>

    <p>
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Ausstellerreglement.pdf"
        >Reglement (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Anmeldung-mit-Packeten-2019.pdf"
        >Anmeldung (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Flyer_Suisse_Municipal_2019_DE.pdf"
        >Flyer (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
