---
title: Suisse Municipal 2019
description: >
  Die Suisse Municipal ist eine rein Kommunale Messe. Dabei steht das Testen
  der Fahrzeuge im Mittelpunkt. Alle Besucher erhalten die Möglichkeit, die
  Fahrzeuge / Maschinen auf dem grosszügigen Testgelände zu fahren und zu
  bedienen.
image: /img/sommershow.jpg
slug: /de/suisse-municipal-2019/
lang: de
impressions:
  - name: Bild 1
    uri: /img/suisse-municipal-2019/impressions/impression-0.jpeg
  - name: Bild 2
    uri: /img/suisse-municipal-2019/impressions/impression-1.jpeg
  - name: Bild 3
    uri: /img/suisse-municipal-2019/impressions/impression-2.jpeg
  - name: Bild 4
    uri: /img/suisse-municipal-2019/impressions/impression-3.jpeg
  - name: Bild 5
    uri: /img/suisse-municipal-2019/impressions/impression-4.jpeg
  - name: Bild 6
    uri: /img/suisse-municipal-2019/impressions/impression-5.jpeg
  - name: Bild 7
    uri: /img/suisse-municipal-2019/impressions/impression-6.jpeg
images:
  - name: Hänni Agrocentre Sàrl
    uri: /img/suisse-municipal-2019/logos/Agrocentre.png
    link: https://www.haenni-agrocentre.ch
  - name: Ambrogio
    uri: /img/suisse-municipal-2019/logos/ambrogio.png
  - name: Bio-Circle Surface Technology AG
    uri: /img/suisse-municipal-2019/logos/Bio-Circle.png
    link: http://www.bio-circle.ch
  - name: Chicklete
    uri: /img/suisse-municipal-2019/logos/Chicklete.png
    link: http://chicleteclean.ch/
  - name: Dalen
    uri: /img/suisse-municipal-2019/logos/Dalen.png
  - name: Gemac GmbH
    uri: /img/suisse-municipal-2019/logos/Gemac-GmbH.jpg
    link: https://www.gemac.ch
  - name: Geniomeccanica SA
    uri: /img/suisse-municipal-2019/logos/Geniomeccanica.jpg
    link: https://www.geniomeccanica.ch
  - name: Gumix
    uri: /img/suisse-municipal-2019/logos/Gumix.png
    link: http://www.gumix-elastor.hr
  - name: Hako Schweiz AG
    uri: /img/suisse-municipal-2019/logos/Hako.jpg
    link: https://www.hako.ch
  - name: Hardox
    uri: /img/suisse-municipal-2019/logos/Hardox.png
  - name: Landtechnik Heini AG
    uri: /img/suisse-municipal-2019/logos/HeiniAG.png
    link: https://www.heini-ag.ch
  - name: hostettler motoren ag
    uri: /img/suisse-municipal-2019/logos/hostettler-motoren.jpg
    link: https://shop.hma.ch
  - name: Kaaz
    uri: /img/suisse-municipal-2019/logos/Kaaz.jpg
  - name: Keckex
    uri: /img/suisse-municipal-2019/logos/Keckex.png
  - name: Maruyama
    uri: /img/suisse-municipal-2019/logos/Maruyama.jpg
  - name: Mettler Tools GmbH
    uri: /img/suisse-municipal-2019/logos/mettler-tools.png
    link: https://www.mettlertools.ch
  - name: Norskal
    uri: /img/suisse-municipal-2019/logos/Norskal.png
    link: https://www.mettlertools.ch
  - name: Ransomes Jacobsen
    uri: /img/suisse-municipal-2019/logos/Ransomes-Jacobsen.jpg
  - name: Rigi-Trac
    uri: /img/suisse-municipal-2019/logos/rigi-trac.jpg
  - name: Schiltrac Fahrzeugbau GmbH
    uri: /img/suisse-municipal-2019/logos/Schiltrac.jpg
    link: https://www.schiltrac.ch
  - name: snowstick gmbh/sarl
    uri: /img/suisse-municipal-2019/logos/Snowstick.jpg
    link: https://snowstick.info/de/
  - name: Stiga Garden
    uri: /img/suisse-municipal-2019/logos/Stiga.png
    link: https://www.stiga-garden.ch
  - name: Tenax
    uri: /img/suisse-municipal-2019/logos/Tenax.png
  - name: Toro
    uri: /img/suisse-municipal-2019/logos/TORO.jpg
    link: https://www.toro.com/de-de
  - name: Ventrac
    uri: /img/suisse-municipal-2019/logos/ventrac-onetractor.png
  - name: Wintec
    uri: /img/suisse-municipal-2019/logos/wintec.png
---

<section class="summer">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Suisse Municipal 2019</h1>
    <h3>
      25. – 26. September 2019 <br />
      Flugplatz St. Stephan
    </h3>
  </div>
</section>

<section>
  <div class="container">
    <h2>Impressionen aus der Suisse Municipal 2019</h2>
    <div class="cols">
      <% page.impressions.forEach(function(image) { %>
      <a href="#<%= image.name %>">
        <img src="<%= image.uri %>" />
      </a>
      <% }) %>
    </div>
  </div>
</section>

<!-- lightbox container hidden with CSS -->
<% page.impressions.forEach(function(image) { %>
<a href="#_" class="lightbox" id="<%= image.name %>">
  <img src="<%= image.uri %>" />
</a>
<% }) %>

<section>
  <div class="container">
    <h2>Aussteller</h2>
    <ul class="no-bullets small-logos">
      <% page.images.forEach(function(image) { %>
      <li>
        <% if(image.link){ %>
        <a
          class="block"
          href="<%= image.link %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="<%= image.uri %>" alt="<%= image.name %>" />
        </a>
        <% } else{ %>
        <img src="<%= image.uri %>" alt="<%= image.name %>" />
        <% } %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
