---
title: Wintershow 2020
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2020/
lang: de
impressions:
  - name: Bild 1
    uri: /img/wintershow-2020/impressions/impression-1.jpg
  - name: Bild 2
    uri: /img/wintershow-2020/impressions/impression-2.jpg
  - name: Bild 3
    uri: /img/wintershow-2020/impressions/impression-3.jpg
  - name: Bild 4
    uri: /img/wintershow-2020/impressions/impression-4.jpg
  - name: Bild 5
    uri: /img/wintershow-2020/impressions/impression-5.jpg
  - name: Bild 6
    uri: /img/wintershow-2020/impressions/impression-6.jpg
  - name: Bild 7
    uri: /img/wintershow-2020/impressions/impression-7.jpg
  - name: Bild 8
    uri: /img/wintershow-2020/impressions/impression-8.jpg
  - name: Bild 9
    uri: /img/wintershow-2020/impressions/impression-9.jpg
  - name: Bild 10
    uri: /img/wintershow-2020/impressions/impression-10.jpg
  - name: Bild 11
    uri: /img/wintershow-2020/impressions/impression-11.jpg
  - name: Bild 12
    uri: /img/wintershow-2020/impressions/impression-12.jpg
  - name: Bild 13
    uri: /img/wintershow-2020/impressions/impression-13.jpg
  - name: Bild 14
    uri: /img/wintershow-2020/impressions/impression-14.jpg

exhibitors:
  - name: Ad. Bachmann
    uri: /img/wintershow-2020/logos/ad-bachmann.jpg
    link: http://www.adbachmannag.ch/
  - name: Blue 4 you
    uri: /img/wintershow-2020/logos/blueforyou.png
  - name: Fiedler
    uri: /img/wintershow-2020/logos/fiedler.jpg
    link: https://www.fiedler-maschinenbau.de/
  - name: Hako
    uri: /img/wintershow-2020/logos/hako.jpg
    link: https://www.hako.ch/
  - name: Heini
    uri: /img/wintershow-2020/logos/heini.png
    link: https://www.heini-ag.ch/
  - name: Hilltip
    uri: /img/wintershow-2020/logos/hilltip.jpg
    link: http://www.grebo-ag.ch/
  - name: Hostettler
    uri: /img/wintershow-2020/logos/hostettler.jpg
    link: https://www.hostettler.com/power-products/
  - name: JCB
    uri: /img/wintershow-2020/logos/jcb.png
    link: http://www.jcb-agri.ch/
  - name: Keckex
    uri: /img/wintershow-2020/logos/keckex.jpg
    link: https://www.keckex.com/
  - name: König
    uri: /img/wintershow-2020/logos/koenig.jpg
    link: https://konigchain.com/de_ch/ketten_de/
  - name: Kubota
    uri: /img/wintershow-2020/logos/kubota.jpg
  - name: Liebherr
    uri: /img/wintershow-2020/logos/liebherr.jpg
    link: https://www.liebherr.com/de/che/start/startseite.html
  - name: Mutter
    uri: /img/wintershow-2020/logos/mutter.jpg
    link: https://www.mutter-solutions.com/
  - name: Øveraasen
    uri: /img/wintershow-2020/logos/overaasen.jpg
    link: https://overaasen.no/overaasen
  - name: Schiltrac
    uri: /img/wintershow-2020/logos/schiltrac.png
    link: https://www.barmettler.ch/
  - name: Snowstick
    uri: /img/wintershow-2020/logos/snowstick.jpg
    link: https://snowstick.info/de/
  - name: Steyr
    uri: /img/wintershow-2020/logos/steyr.png
    link: https://www.case-steyr-center.ch/
  - name: Stiga
    uri: /img/wintershow-2020/logos/stiga.png
  - name: Syntrac
    uri: /img/wintershow-2020/logos/syntrac.png
  - name: Timan
    uri: /img/wintershow-2020/logos/timan.jpg
  - name: Wintec
    uri: /img/wintershow-2020/logos/wintec.png
---

<section class="winter show2020">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Wintershow 2020</h1>
    <h2>
      22. - 23. Januar 2020 <br />
      6490 Andermatt
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Impressionen aus der Suisse Municipal 2020</h2>
    <div class="cols">
      <% page.impressions.forEach(function(image) { %>
      <a href="#<%= image.name %>">
        <img src="<%= image.uri %>" />
      </a>
      <% }) %>
    </div>
  </div>
</section>

<!-- lightbox container hidden with CSS -->
<% page.impressions.forEach(function(image) { %>
<a href="#_" class="lightbox" id="<%= image.name %>">
  <img src="<%= image.uri %>" />
</a>
<% }) %>

<section>
  <div class="container">
    <h2>Aussteller</h2>
    <ul class="no-bullets small-logos">
      <% page.exhibitors.forEach(function(image) { %>
      <li>
        <% if(image.link){ %>
        <a
          class="block"
          href="<%= image.link %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="<%= image.uri %>" alt="<%= image.name %>" />
        </a>
        <% } else{ %>
        <img src="<%= image.uri %>" alt="<%= image.name %>" />
        <% } %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
