---
title: Wintershow 2022
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2022/
lang: de

exhibitors:
  - name: Ad. Bachmann
    uri: ad-bachmann.jpg
    link: http://www.adbachmannag.ch/
  - name: Aebi & Co. AG Maschinenfabrik
    uri: aebi-schmidt.png
    link: https://www.aebi-schmidt.com
  - name: Campus Sursee
    uri: campus-sursee.jpg
    link: https://www.campus-sursee.ch
  - name: Grebo AG
    uri: grebo.png
    link: https://www.grebo-ag.ch
  - name: Hako
    uri: hako.jpg
    link: https://www.hako.ch/
  - name: Hostettler
    uri: hostettler.jpg
    link: https://www.hostettler.com/power-products/
  - name: Kubota
    uri: kubota.jpg
  - name: JCB Agri Schweiz
    uri: serco.png
    link: https://www.jcb-agri.ch
  - name: Larag AG
    uri: larag.jpg
    link: https://www.larag.com
  - name: NG Green Innovations GmbH
    uri: ng-green.png
    link: https://www.ng-green.com
  - name: Same Deutz-Fahr Schweiz AG
    uri: sdf.jpg
    link: https://same-deutz-fahr-schweiz-ag.business.site/
  - name: Snowstick
    uri: snowstick.jpg
    link: https://snowstick.info/de/
  - name: Steyr
    uri: steyr.png
    link: https://www.case-steyr-center.ch/
  - name: Wille
    uri: wille.jpg
    link: https://www.willemachines.com
  - name: Yamaha
    uri: yamaha-corp.png
    link: https://www.yamaha-motor.ch
---

<section class="winter show2022">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Namhafte Unternehmen laden herzlich ein zur grossen Wintershow 2022</h1>
    <h2>
      Schneefräsen, schneepflügen, schnee&shy;schleudern...<br />
      Winterdienstfahrzeuge auch selber ausgiebig testen.
    </h2>
    <h3>
      26. - 27. Januar 2022<br />
      Parkplatz der Säntis-Schwebebahn, Schwägalp
    </h3>
  </div>
</section>

<section>
  <div class="container">
    <h2>Besuchen Sie die Wintershow 2022</h2>
    <p>
      Erleben Sie professionelle Maschinen und
      Geräte live vor Ort im härtesten Wintereinsatz.
    </p>
    <p>
      Die Vorführungen beginnen jeweils um 11 Uhr und finden bei jeder Witterung
      statt. Der Platz ist gut ausgeschildert. Verpflegungsmöglichkeit vor Ort.
    </p>
    <p>Wir freuen uns auf Sie.</p>
    <h3 style="margin-top: 2em">NEU: Anreise bequem im Bus</h3>
    <ul>
      <li>ca. 07.30 Uhr ab Raststätte Grauholz</li>
      <li>ca. 08.30 Uhr ab Bahnhof Egerkingen</li>
      <li>ca. 09.30 Uhr ab Raststätte Neuenkirch (Rtg. Luzern)</li>
    </ul>
    <p style="margin-bottom: 4em">
      Andere Zusteige-Orte entlang der Route sind nach Vereinbarung möglich.
      Unkostenbeitrag 99 Franken. Anmeldeschluss Busfahrt: 17. Januar 2022,
      17.00 Uhr
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>Aussteller</h2>
    <ul class="no-bullets small-logos">
      <% page.exhibitors.forEach(function(image) { %>
      <li>
        <% if(image.link){ %>
        <a
          class="block"
          href="<%= image.link %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/img/wintershow-2022/logos/<%= image.uri %>"
            alt="<%= image.name %>"
          />
        </a>
        <% } else{ %>
        <img
          src="/img/wintershow-2022/logos/<%= image.uri %>"
          alt="<%= image.name %>"
        />
        <% } %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>

<section class="section-dark">
  <div class="container">
    <h2>Aussteller werden!</h2>
    <p>Ihr Vorteil an einer Teilnahme an der Suisse Municipal Wintershop:</p>
    <ul>
      <li>Bekannteste und grösste Wintershow der Schweiz</li>
      <li>Spektakuläre Live-Show</li>
      <li>International besuchte Show</li>
      <li>Über 10'000 Kontakte werden angegangen</li>
      <li>Shuttle-Bus Service ab diversen Standorten in der Schweiz</li>
      <li>Attraktiver und zentraler Standort</li>
      <li>Gratis Parkplätze</li>
      <li>Aussteller-Apéro am ersten Abend</li>
    </ul>
    <h3>Dokumente</h3>
    <p>
      <a
        class="btn"
        href="/attachments/wintershow-2022/Anmeldung_Wintershow_2022.pdf"
        >Aussteller Anmeldung (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
